rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isBoss() {
      return request.auth.token.email == "official.nightdreams@gmail.com";
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isSelf(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.permisos.admin == true;
    }
    
    function isOwner(reserva) {
      return request.auth.uid == reserva.data.PromotorUid;
    }

    // Acceso global de lectura para el Boss (sin escritura global)
    match /{document=**} {
      allow read: if isBoss();
    }

    // Usuarios
    match /usuarios/{userId} {
      allow read: if isSelf(userId) || isAdmin();
      allow create: if isSelf(userId) &&
        request.resource.data.keys().hasAll(['uid','nombre','correo','rol','estado','fechaRegistro','permisos']) &&
        request.resource.data.permisos.admin == false &&
        request.resource.data.rol == 'promotor' &&
        request.resource.data.uid  == request.auth.uid &&
        request.resource.data.estado == 'Pendiente';
      allow update: if isSelf(userId) || isAdmin();
      allow delete: if isAdmin();
    }

    // Clubs
    match /clubs/{clubId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    // Productos
    match /Productos/{productoId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    // WeekDays
    match /WeekDays/{day} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    // Reservas (master)
    match /reservas/{resId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && isOwner(request.resource);
      allow update, delete: if isAdmin();
    }

    // Reservas por día
    match /reservas_por_dia/{dia}/reservas/{resId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && isOwner(request.resource);
      allow write: if isAdmin();
    }

    // Reservas por promotor
    match /reservas_por_promotor/{promotorId}/reservas/{resId} {
      allow read: if isSelf(promotorId) || isAdmin();
      allow write: if isSelf(promotorId) || isAdmin();
    }

    // Reservas Legacy por promotor
    match /reservas_por_promotor/{promotorId}/reservasLegacy/{resId} {
      allow read: if isSelf(promotorId) || isAdmin();
      allow write: if isSelf(promotorId) || isAdmin();
    }

    // Solicitudes modificación
    match /solicitudes_modificacion/{idSol} {
      allow create: if isSignedIn();
      allow read, update, delete: if isBoss();
    }

    // Solicitudes eliminación
     match /solicitudes_eliminacion/{docId} {
      allow create: if isSignedIn();
      allow read, update: if request.auth != null
        && get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.correo == "official.nightdreams@gmail.com";
allow delete: if isBoss();    
    }

    // Formulario config
    match /formulario_config/{doc} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }
         
    // Colección de mesas
    match /mesas/{mesaId} {
      allow create: if isSignedIn();
      allow read: if isSignedIn();
      allow update: if isBoss() || (isSignedIn() && resource.data.promotorUid == request.auth.uid);
      allow delete: if isBoss();
    }
 }
}





